resources:
{# Network #}
- name: kraken-prod-vpc
  type: gcp-types/compute-v1:networks
  properties:
    description: "Kraken Production VPC"
    autoCreateSubnetworks: false
{# Subnet #}
- name: kraken-prod-subnet
  type: gcp-types/compute-v1:subnetworks
  properties:
    ipCidrRange: 192.168.12.0/24
    network: $(ref.kraken-prod-vpc.selfLink)
    region: {{ properties['region'] }}
    privateIpGoogleAccess: true
    enableFlowLogs: true
    logConfig:
      enable: true
      flowSampling: 1
{# Firewall Rule #}
- name: kraken-prod-fw-ssh
  type: gcp-types/compute-v1:firewalls
  properties:
    network: projects/{{ env['project'] }}/global/networks/kraken-prod-vpc
    sourceRanges: [35.235.240.0/20]
    priority: 100
    allowed:
    - IPProtocol: tcp
      ports: [22]
    targetTags:
    - ssh-ingress
  metadata:
    dependsOn: 
    - kraken-prod-vpc